<h2> Band update page <h2>

<form>
  <label> ID: <%= @band.id %> (you cant change this) </label>
</form>

<form action="/update_band/<%=@band.id %>/name" method="post">
  <input name="_method" type="hidden" method="patch">

  <label for="name">Name: <%= @band.name %></label>
  <input type="text" name="name" placeholder = "Band Name">

  <button>Submit </button>
</form>

<form action="/update_band/<%= @band.id %>/description" method="post">
  <input name="_method" type="hidden" method="patch">

  <label for="">Description: <%= @band.description %> </label>
  <input type="text" name="description" placeholder="Description">

  <button>Submit </button>
</form>

<form action="/update_band/<%= @band.id %>/album" method="post">
  <input name="_method" type="hidden" method="patch">

  <label for="">Album: <%= @band.album %> </label>
  <input type="text" name="album" placeholder="Album">

  <button>Submit </button>
</form>

<HR width="100%" size="3">

<div style="float: left; width: 45%;" >
  <u>Current Venues:</u><br>
  <% if @band.venues.any?() %>
    <span style="font-size: 15px;">
      <ul>
        <% @band.venues.each() do |venue| %>
          <li> <%= venue.name %> -  <%= venue.city %>,<%= venue.state %></li>
        <% end %>
      </ul>
    </span>
  <% else %>
    <span style="font-size: 15px;">This band has not played at any venues yet. <br>:( </span>
  <% end %>
</div>
<div style="float: right; width: 45%;">
  <u>Available Venues:</u> <br>
  <% if @venues.any?() %>
    <form action="/update/<%= @band.id %>/band_venues" method="post">
      <input name="_method" type="hidden" method="patch">
        <% @venues.each do |venue| %>
          <input type="checkbox" name="venues_checkbox[]" value="<%= venue.id %>"><span style="font-size: 15px;"> <%= venue.name %> - <%= venue.city %>, <%= venue.state %> </span> <br>
        <% end %>
      <button> Add Venues </button>
    </form>
  <% end %>
</div>
